* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*          NAVBAR        */

.navbar-dark {
    height: 5rem;
    width: 100%;
    background-color: #020303;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    width: 25%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-left img {
    height: 100%;
    width: 70%;
}

.navbar-right {
    width: 72%;
    height: 100%;
    background-color: rgb(22, 127, 92);
}
